/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
input[type="checkbox"] {
	margin: 0;
}
input[type="submit"]:disabled {
	color: black;
}

@font-face {
  font-family: Quirkbot;
  font-weight: normal;
  src: url('./QuirkyRobot.ttf');
}

@font-face {
  font-family: Neuropol;
  font-weight: normal;
  src: url('./neuropol.ttf');
}




// General constants
$main-color: #222222;
$general-font-size: 11mm;
$title-border: 1mm #003d4e solid;
  
//use style tag in md file to do fonts: something about pandoc or wkhtmltopdf isn't picking them up from the scss -> css file
//font-family options:
//  "Helvetica Neue",
//  "Times New Roman",
//  Calibri,
//  Helvetica,
//  sans-serif
//  sans-serif,
//  palatino
//  Impact,
//  Roboto, Arial, sans-serif;

$spacing-scalar: 2.4;

@mixin get-title-padding($title-font-size) {
  //padding: ($title-font-size / 2) 0 ($title-font-size / 2);
  padding: ($title-font-size / $spacing-scalar) 0 ($title-font-size / $spacing-scalar);
}

@mixin get-title-margin($title-font-size) {
  //margin: ($title-font-size / 2) 0 ($title-font-size / 2);
  margin: ($title-font-size / $spacing-scalar) 0 ($title-font-size / $spacing-scalar);
}

@mixin get-title-border($title-border) {
  border-bottom: $title-border;
  display: inline-block;
}



// name constants (e.g. for Joe Coder)
$name-size: 25mm;
$name-font-style: italic;
$name-font-weight: bold;

// meta constants (e.g. for address, phone)
$meta-font-size: $general-font-size;

// list constants
$list-font-size: $general-font-size;

// section constants
$section-font-size: 20mm;

// subsection constants
$subsection-font-size: 14mm;


* {
  color: $main-color;
}

h1 {
  font-size: $name-size;
  font-style: $name-font-style;
  font-weight: $name-font-weight;
  font-family: Quirkbot;
}

h2 {
  font-size: $section-font-size;
  @include get-title-border($title-border);
  @include get-title-margin($section-font-size);

}

h3 {
  font-size: $subsection-font-size;
  @include get-title-margin($subsection-font-size);
}

p {
  color: blue;
}

li {
  list-style: circle inside;
  font-size: $list-font-size;
  line-height: 1.4;
  margin-left: 2mm;
}


.job {
	&__location {
		font-size: 12mm;
    font-style: italic;
	}
}

.meta {
  &__row {
    display: block;
    clear: both;
    line-height: 1.2;
  }

	&__address,
	&__city,
	&__email,
	&__github,
	&__phone,
 	&__stackoverflow,
  {
    font-size: $meta-font-size;
  }

	&__address,
	&__city,
  &__github
  {
    text-align: left;
    float: left;
  }

	&__phone,
	&__email,
	&__stackoverflow
  {
    text-align: right;
    float: right;
	}

  padding-bottom: 15mm;
}

.section {
  &__leader {
    padding-top: 0;
  }
}
